<div  [formGroup]="form" >
  <div class="grid p-fluid">
    <div class="field col-12 md:col-12">
      <label htmlFor="descripcion">Password</label>
      <input type="password" formControlName="password" pInputText [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password es requerido</div>
        
        <div *ngIf="f.password.errors.minlength">
          Password debe contener al menos 6 caracteres
        </div>
        <div *ngIf="f.password.errors.maxlength">
          Password no puede ser mayor a 40 caracteres
        </div>
      </div>
    </div>
    <div class="field col-12 md:col-12">
        <label htmlFor="descripcion">Confirmar Password</label>
        <input type="password" formControlName="confirmPassword" pInputText [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
      <div  *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback" >
        <div *ngIf="f.confirmPassword.errors.required">
          Confirmar password es requerido
        </div>
        <div *ngIf="f.confirmPassword.errors.matching">
          Confirmar password no coincide
        </div>
      </div>
    </div>
  </div>
  <app-footer-dialog (guardarEvent)="onSubmit()" (cancelarEvent)="cerrarVentana()"></app-footer-dialog>
</div>
